*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-control:focus{
  border-color: rgb(197, 194, 194) !important;
  box-shadow: none !important;
}

.header{
   background-color: white;
}

.text-decoration-none{
  color: rgb(87, 86, 86);
}
.text-gray{
  color: rgb(87, 86, 86);
}

/* loader */
.loader-container {
  top: 0px;
  left: 0px;
  position: fixed;
  text-align: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.5;
}

.loader-container .loader {
  width: 50px;
  margin-top: 150px;
  animation: rotate infinite 1s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.btn{
  color: #4d5969 !important;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700px !important;
}
.btn:hover{
  color: #353a42 !important;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700px !important;
  transform: scale(1.06);
}